html {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#simscreen {
    position: relative;
    left: 0px;
    top: 0px;
    height: 600px;
    width: 800px;
    border: solid 1px;
}

#copyright {
    position: absolute;
    left: 50px;
    top: 580px;
    font-family: verdana;
    font-size: 12px
}

#title {
    position: relative;
    left: 0px;
    top: 0px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    background-color: black;
    font-family: verdana;
    color: White;
    text-transform: uppercase;
}

#title h3 {
    padding-top: 2px;
    margin: 0px;
}

#question-div {
    position: absolute;
    left: 300px;
    top: 350px;
    width: 300px;
    height: 120px;
    border: solid 1px gray;
    background-color: gray;
    filter: alpha(opacity=55);
    color: white;
    visibility: hidden;
}

.simsubscreen {
    position: absolute;
    left: 50px;
    top: 50px;
    height: 530px;
    width: 745px;
}

.incanvas {
    margin: 5px 0 0 5px;
    padding: 0;
}

#nextButton {
    position: absolute;
    left: 750px;
    top: 530px;
    cursor: pointer;
}

#nextButton1 {
    position: absolute;
    left: 750px;
    top: 530px;
    cursor: pointer;
}

#prevButton {
    position: absolute;
    left: 0px;
    top: 532px;
    cursor: pointer;
}

.steptext {
    display: inline;
}

.steptext-6 {
    display: inline;
}

.steptext-2 {
    display: inline;
}

.circlebg {
    border-radius: 100%;
    font-size: 25px;
    color: #fff;
    text-align: center;
    background: #000
}


/* -------------------------------------- water ---------------------------------------- */


/* Chrome, Safari, Opera */

@-webkit-keyframes water-4 {
    0% {
        -webkit-transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(0, -20px);
    }
}


/* Standard syntax */

@keyframes water-4 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -20px);
    }
}

@-webkit-keyframes water-5 {
    0% {
        -webkit-transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(0, -35px);
    }
}


/* Standard syntax */

@keyframes water-5 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -35px);
    }
}


/* -------------------------------------- constant speed arrow ---------------------------------------- */


/* Chrome, Safari, Opera */

@-webkit-keyframes arrow-1 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-50deg);
    }
}


/* Standard syntax */

@keyframes arrow-1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-50deg);
    }
}


/* -------------------------------------- constant speed arrow 2 ---------------------------------------- */


/* Chrome, Safari, Opera */

@-webkit-keyframes arrow-11 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(70deg);
    }
}


/* Standard syntax */

@keyframes arrow-11 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(70deg);
    }
}


/* -------------------------------------- ---------------------------------------- */


/* Chrome, Safari, Opera */

@-webkit-keyframes valveturn-2 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-20deg);
    }
}


/* Standard syntax */

@keyframes valveturn-2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}


/* Chrome, Safari, Opera */

@-webkit-keyframes valveturn-4 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-20deg);
    }
}


/* Standard syntax */

@keyframes valveturn-4 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}

@-webkit-keyframes valveturn-5 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(10deg);
    }
}

@keyframes valveturn-5 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(10deg);
    }
}


/* Standard syntax */

@keyframes water0 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -100px);
    }
}


/* Standard syntax */

@keyframes water0 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -100px);
    }
}


/* LINES : angle of attack */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/*-----------------------------------------hook gauge----------------------- */


/* Chrome, Safari, Opera */

@-webkit-keyframes myhook-1 {
    0% {
        -webkit-transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, -15px);
    }
    100% {
        -webkit-transform: translate(0, 8px);
    }
}


/* Standard syntax */

@keyframes myhook-1 {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -15px);
    }
    100% {
        transform: translate(0, 8px);
    }
}

@-webkit-keyframes myhook-2 {
    0% {
        -webkit-transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, -50px);
    }
    100% {
        -webkit-transform: translate(0, -15px);
    }
}


/* Standard syntax */

@keyframes myhook-2 {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, -50px);
    }
    100% {
        transform: translate(0, -15px);
    }
}


/*-----------------------------------------blink----------------------- */


/*ADDED  */


/* .transitionAirfoil {
    -webkit-transition: 1s;
} */

.air-items button {
    border-radius: 3px;
    background-color: rgb(18, 19, 18);
    /* Green background */
    border: 1px solid rgb(25, 26, 25);
    /* Green border */
    color: white;
    /* White text */
    padding: 10px 24px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    margin-top: 2px;
    /* width: 50%; Set a width if needed */
    /* display: block;  */
}

.air-items button:hover {
    background-color: #3d4f3d;
}

.verificationButton {
    border-radius: 3px;
    background-color: rgb(18, 19, 18);
    /* Green background */
    border: 1px solid rgb(25, 26, 25);
    /* Green border */
    color: white;
    /* White text */
    padding: 6px 16px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    margin-top: 2px;
}

.lift-verify {
    padding: 5px 15px;
}

.setColorNoInput {
    color: rgb(13, 84, 160);
    ;
}

.setColorCorrectInput {
    color: rgb(8, 145, 8);
}

.setColorIncorrectInput {
    color: rgb(194, 12, 12);
}


/*  EXPERIMENT 3 */

.moveTopCover {
    /* transform: translate(0,350px); */
    animation: moveCover 2s;
    /* transition: all 10s ease-in-out; */
}

@keyframes moveCover {
    0% {
        left: 272px;
        top: 50px;
        transform: rotate(4deg)
    }
    /* 50%  {left:290px; top:100px; transform:rotate(0deg)} */
    100% {
        left: 272px;
        top: 200px;
        transform: rotate(4deg)
    }
}

.moveSingleScrew {
    /* transform: translate(0,350px); */
    animation: moveSingleScr 2s;
    /* transition: all 10s ease-in-out; */
}

@keyframes moveSingleScr {
    0% {
        left: 450px;
        top: 40px;
        transform: rotate(0deg);
    }
    /* 50%  {left:290px; top:100px; transform:rotate(0deg)} */
    100% {
        left: 362px;
        top: 173px;
        /* height: 20px;
        width: 10px; */
        transform: rotate(0deg);
    }
}

.moveSingleScrew2 {
    /* transform: translate(0,350px); */
    animation: moveSingleScr1 2s;
    /* transition: all 10s ease-in-out; */
}

@keyframes moveSingleScr1 {
    0% {
        left: 450px;
        top: 40px;
        transform: rotate(180deg);
    }
    /* 50%  {left:290px; top:100px; transform:rotate(0deg)} */
    100% {
        left: 450px;
        top: 360px;
        /* height: 20px;
        width: 10px; */
        transform: rotate(180deg);
    }
}

.rotateHand {
    animation: rotation 1s 2 linear;
}

@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        /* transform: rotate(40deg); */
        transform: rotateY(-60deg);
        transform-origin: 60% 40%;
        /* top: 110px; */
    }
}

.rotateHand2 {
    animation: rotation2 1s 2 linear;
}

@keyframes rotation2 {
    from {
        transform: rotateY(0deg);
        transform-origin: 50% 50%;
    }
    to {
        transform: rotateY(-0.2turn);
        transform-origin: 60% 40%;
        /* top: 110px; */
    }
}

.moveSingleScrewInside {
    /* transform: translate(0,350px); */
    animation: moveSingleScrIn 2s;
    /* transition: all 10s ease-in-out; */
}

@keyframes moveSingleScrIn {
    0% {
        left: 367px;
        top: 193px;
        height: 20px;
        width: 10px;
        transform: rotate(0deg);
    }
    /* 50%  {left:290px; top:100px; transform:rotate(0deg)} */
    100% {
        left: 367px;
        top: 200px;
        height: 20px;
        width: 10px;
        transform: rotate(0deg);
    }
}

.moveHandInside {
    /* transform: translate(0,350px); */
    animation: moveSingleHandIn 1.5s;
    /* transition: all 10s ease-in-out; */
}

@keyframes moveSingleHandIn {
    0% {
        top: 101px;
    }
    /* 50%  {left:290px; top:100px; transform:rotate(0deg)} */
    100% {
        top: 120px;
    }
}

.moveFc {
    /* transform: translate(0,350px); */
    animation: movefc 2s;
    /* transition: all 10s ease-in-out; */
}

@keyframes movefc {
    0% {
        left: 240px; top: 40px; height: 80px; width: 150px;
    }
    50% {
        height: 55px;
        width: 110px;
    }
    /* 50%  {left:290px; top:100px; transform:rotate(0deg)} */
    100% {
        left: 307px;
        top: 220px;
        /* height: 50px;
        width: 100px; */
    }
}

.moveRec {
    /* transform: translate(0,350px); */
    animation: moveRcv 2s;
    /* transition: all 10s ease-in-out; */
}

@keyframes moveRcv {
    0% {
        left: 250px;
        top: 60px;
        height: 55px;
        width: 130px;
    }
    /* 50%  {left:290px; top:100px; transform:rotate(0deg)} */
    100% {
        left: 312px;
        top: 255px;
        height: 40px;
        width: 100px;
    }
}

.moveDST {
    /* transform: translate(0,350px); */
    animation: moveDst 2s;
    /* transition: all 10s ease-in-out; */
}

@keyframes moveDst {
    0% {
        left: 240px; top: 55px; height: 70px; width: 180px;
    }
    /* 50%  {left:290px; top:100px; transform:rotate(0deg)} */
    100% {
        left: 240px;
        top: 215px;
        /* height: 40px;
        width: 120px; */
    }
}

.moveDSTRec {
    /* transform: translate(0,350px); */
    animation: moveDstRec 2s;
    /* transition: all 10s ease-in-out; */
}

@keyframes moveDstRec {
    0% {
        left: 240px; top: 55px; height: 70px; width: 180px;
    }
    /* 50%  {left:290px; top:100px; transform:rotate(0deg)} */
    100% {
        left: 280px;
        top: 235px;
        height: 40px;
        width: 120px;
    }
}

/* 
.rotate_curve_arrow {
    animation: rotate_arrow 2s 3 linear;
}

@keyframes rotate_arrow {
    from {
        transform: rotate(0deg);
        left: 350px;
        top: 180px;
    }
    to {
        left: 360px;
        top: 178px;
        /* transform: rotate(-0.2turn);*/


/* }
} */